@using Dominio

@{
    string email = "";
    string clave = "";
}


@if (Model != null)
{
    email = Model.Email;
    clave = Model.Clave;
}

<div>
    @if ( ViewBag.Mensaje != null)
    {
        <h2 class="alert-danger">@ViewBag.Mensaje</h2>
    }

    <h2 class="text-center text-white mt-2">Ingresa a tu cuenta</h2>

    <form method="post" class="p-4 rounded bg-dark text-light card-login">
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control bg-secondary text-light border-0" name="email" id="email" placeholder="Ingresa tu correo" value="@email" />
        </div>
        <div class="mb-3">
            <label for="clave" class="form-label">Contraseña</label>
            <div class="input-group">
                <input type="password" class="form-control bg-secondary text-light border-0" name="clave" id="clave" placeholder="Crea tu contraseña" value="@clave" />
                <span class="input-group-text bg-secondary text-light border-0" onclick="togglePasswordVisibility()" style="cursor: pointer;">
                    <i id="password-icon" class="bi bi-eye"></i>
                </span>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary w-100" value="Iniciar Sesión" />
        </div>
    </form>

</div>


<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("clave");
        var passwordIcon = document.getElementById("password-icon");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordIcon.classList.remove("bi-eye");
            passwordIcon.classList.add("bi-eye-slash");
        } else {
            passwordInput.type = "password";
            passwordIcon.classList.remove("bi-eye-slash");
            passwordIcon.classList.add("bi-eye");
        }
    }
</script>





