<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebObligatorioP2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebObligatorioP2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">WebObligatorioP2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* No hay usuario logueado *@
                        @if (Context.Session.GetString("Usuario") == null)
                        {

                        } else
                        {
                            @* Hay usuario logueado *@
                            if (Context.Session.GetString("Rol") == "Cliente")
                            {
                                @* Funciones de CLIENTE *@
                                @* LISTADO PUBLICACIONES *@
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Publicacion" asp-action="ListadoPublicaciones">Listar Publicaciones</a>
                                </li>
                                @* MI CUENTA *@
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="MiCuenta">Mi Cuenta</a>
                                </li>
                                @* Mostrar saldo del usuario *@
@*                                   var saldoDisponible = Context.Session.GetString("SaldoDisponible");
                                  @if(saldoDisponible != null)
                                  {
                                      <li class="nav-item ms-auto">
                                          <span class="nav-link text-success">Saldo disponible: $@saldoDisponible</span>
                                      </li>
                                  }
                                  else
                                  {
                                      <li class="nav-item ms-auto">
                                          <span class="nav-link text-danger">No tienes saldo</span>
                                      </li>
                                  } *@


                        }
                            else
                            {
                                @* Funciones de ADMINISTRADOR *@
                                @* LISTAR CLIENTES *@
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="ListadoClientes">Listar Clientes</a>
                                </li>
                                @* LISTAR SUBASTAS  *@
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="ListadoSubastas">Listar Subastas</a>
                                </li>
                            }



                            @* Funciones COMPARTIDAS *@
                            @* Botón de Salir en la esquina superior derecha *@
                            <li class="nav-item ms-auto">
                                <a class="btn btn-danger text-white btn-sm logout-btn" asp-area="" asp-controller="Usuario" asp-action="Logout">Salir</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebObligatorioP2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
